/*-----------------------------------------------------------------------------------------------*/


/*----------------------------------------OGÓLNE-------------------------------------------------*/


/*-----------------------------------------------------------------------------------------------*/

body {
    font-size: 150%;
    font-family: Arial;
    background-color: rgb(255, 255, 255);
    background-image: "image/background.jpg";
    /*panel podąża za widokiem*/
    color: #000000;
    margin: 0px;
}

aside {
    /*wyglad login panelu*/
    height: 500px;
    margin-top: 100px;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    background-clip: content-box;
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    background-color: #535266;
    border-style: solid;
    border-color: #fff;
    border-radius: 20px;
}


/*-----------------------------------------------------------------------------------------------*/


/*-----------------------------------------INPUT-------------------------------------------------*/


/*-----------------------------------------------------------------------------------------------*/

input {
    /*pole login i haslo wyglad*/
    background-color: #efefef;
    width: 20%;
    font-size: 20px;
    padding: 10px;
    margin: 3px;
    box-sizing: border-box;
    margin-top: 5px;
    border-radius: 10px;
    text-align: center;
    border-color: white;
    font-size: 150%;
}

    input[type=submit] {
        /*przycisk zaloguj sie wyglad*/
        margin-bottom: 70px;
        background-color: #757575;
        color: white;
        opacity: 1;
        width: 100%;
        min-height: 100px;
        margin-top: 30px;
        font-size: 50px;
    }

        input[type=submit]:hover {
            /*przycisk zaloguj sie po najechaniu na niego*/
            background: #000000;
            transition-duration: 2s;
            transition-property: background-color;
        }

    input[type="text"] {
        /*panel administracyjny*/
        width: 100%;
        padding: 0px;
        margin: 0px;
    }


/*-----------------------------------------------------------------------------------------------*/

.login {
    background-color: #303030;
    color: white;
    opacity: 1;
    width: 100%;
}


/*-----------------------------------------------------------------------------------------------*/


/*-----------------------------------------MAIN--------------------------------------------------*/


/*-----------------------------------------------------------------------------------------------*/


/* Dodanie stylu dla tła kontenera */

#main {
    height: 100%;
    text-align: center;
    width: 60%;
    display: flex;
    flex-flow: column wrap;
    padding: 0px;
    background-color: rgba(239, 239, 239, 0.8);
    flex-direction: column;
    margin-left: 20%;
    /*wyrównanie do środka maina - przedłuzenie*/
    background-clip: content-box;
    /*wyrównanie do środka maina - usunięcie wcześnieszego bloku*/
    border: 3px solid black;
    border-top: 0px;
    border-radius: 5px;
    margin-top: 85px;
    text-shadow: 2px 2px 0 grey;
}

@media all and (max-width: 1200px) {
    /*main przy różnej szerokości*/
    #main {
        width: 100%;
        margin: 0;
        font-size: 150%;
        margin-top: 170px;
    }
}

@media all and (max-width: 600px) {
    #main {
        width: 100%;
        margin-left: 0%;
    }
}


/*-----------------------------------------------------------------------------------------------*/


/*-----------------------------------------NAVI--------------------------------------------------*/


/*-----------------------------------------------------------------------------------------------*/

#navigation {
    /*panel nawigacyjny*/
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    position: fixed;
    top: 0;
    overflow: hidden;
    justify-content: flex-end;
    list-style: none;
    margin-left: 0px;
    padding: 0px;
    background: #858588;
}

    #navigation a,
    #productcontainer a {
        /*przyciski nawigacyji*/
        text-decoration: none;
        display: block;
        color: white;
    }

    #navigation:last-child {
        /*przyciski nawigacyji*/
        padding: 0px;
        margin: 0px;
        border: 0px;
    }

@media all and (max-width: 1200px) {
    /*przyciski nawigacyji przy różnej szerokości*/
    #navigation {
        justify-content: space-around;
        font-size: 35px;
    }
}

@media all and (max-width: 1200px) {
    #navigation {
        flex-flow: column wrap;
        padding: 0;
        width: 100%;
    }

        #navigation a {
            text-align: center;
            padding: 10px;
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        #navigation li:last-of-type a {
            border-bottom: none;
        }
}

@media all and (max-width: 1200px) {
    /*ul ol*/
    #navigation {
        display: none;
    }
}

@media all and (min-width: 1200px) {
    /*ul ol*/
    #navigation {
        display: flex;
    }
}

#navigation img {
    margin: 0 auto;
}


/*-----------------------------------------------------------------------------------------------*/

.nav {
    padding: 1em;
}

ol {
    list-style: none;
    margin: 0;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    position: fixed;
    top: 0;
    overflow-y: scroll;
    justify-content: flex-end;
    list-style: none;
    padding: 0px;
    background: #535266;
}

.card img {
    max-width: 100px;
    /* Maksymalna szerokość obrazka */
    max-height: 100px;
    /* Maksymalna wysokość obrazka */
}

@media all and (max-width: 1200px) {
    /*ul ol*/
    ul {
        margin-top: 0px;
    }

    ol {
        flex-flow: column wrap;
        padding: 0;
        width: 100%;
        text-align: center;
    }
}

li:hover {
    /*przyciski nawigacyji po najechaniu na niego*/
    background: #4cb581;
    border-color: #4cb581;
    transition-duration: 1.5s;
    border-radius: 5px 5px 15px 15px;
}

.li_drop {
    border: 1px solid grey;
}

    .li_drop:hover .dropdown2 {
        display: block;
    }


/*------------------------------------------------------------------------------------------------*/


/*-----------------------------------------STÓPKA-------------------------------------------------*/


/*------------------------------------------------------------------------------------------------*/

#footer {
    height: 200px;
    text-align: center;
}

#header-box {
    width: 95%;
    height: 180px;
}

#footer-box {
    width: 95%;
    height: 80px;
}


/*------------------------------------------------------------------------------------------------*/


/*-------------------------ZANIKANIE W PRZEJŚCIACH na innych przeglądarkach-----------------------*/


/*------------------------------------------------------------------------------------------------*/

#header,
#nav,
#section,
fieldset,
#footer {
    font-size: 21px;
    text-align: center;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

.space-product-container {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wrapper {
    display: flex;
    height: 80%;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.icon {
    height: auto;
    width: 25%;
    border: solid 2px;
    box-shadow: 10px 3px 5px #444;
    border-color: silver;
    padding: 3px;
}

.column > div {
    font-size: 4vh;
    color: white;
    background: royalblue;
    margin: .1em;
    padding: .3em 1em;
    border-radius: 3px;
    flex: 1;
}

.shopping {
    position: relative;
    text-align: right;
}

    .shopping img {
        width: 70px;
    }

    .shopping span {
        background: red;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        position: absolute;
        top: -5px;
        left: 80%;
        padding: 3px 10px;
    }

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}

    .list .item {
        text-align: center;
        background-color: #DCE0E1;
        padding: 20px;
        box-shadow: 0 50px 50px #757676;
        letter-spacing: 1px;
    }

        .list .item img {
            width: 90%;
            height: 430px;
            object-fit: cover;
        }

        .list .item .title {
            font-weight: 600;
        }

        .list .item .price {
            margin: 10px;
        }

        .list .item button {
            background-color: #1C1F25;
            color: #fff;
            width: 100%;
            padding: 10px;
        }

.card {
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #535269;
    height: 100vh;
    transition: 0.5s;
}

.active .card {
    left: calc(100% - 500px);
}

.active .container {
    transform: translateX(-200px);
}

.card h1 {
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.card .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 2;
}

    .card .checkOut div {
        background-color: #E8BC0E;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
    }

        .card .checkOut div:nth-child(2) {
            background-color: #1C1F25;
            color: #fff;
        }

.listCard li {
    display: inline-block;
    color: #fff;
    width: 80%;
    height: 30%;
    z-index: 1;
}

    .listCard li div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .listCard li img {
        width: 90%;
    }

    .listCard li button {
        background-color: #fff5;
        border: none;
    }

.listCard .count {
    margin: 0 10px;
}